:root {
  /* Primary */
  --color-light-red-CTA-text: hsl(356, 100%, 66%);
  --color-very-light-red-CTA-background: hsl(355, 100%, 74%);
  --color-very-dark-blue-headings: hsl(208, 49%, 24%);
  /* Neutral */
  --color-white-text: hsl(0, 0%, 100%);
  --color-grayish-blue-footer-text: hsl(240, 2%, 79%);
  --color-very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
  --color-very-dark-black-blue-footer-background: hsl(240, 10%, 16%);
  /* Background gradient - Intro/CTA mobile nav */
  --bg-color-gradient-CTA-very-light-red: hsl(13, 100%, 72%);
  --bg-color-gradient-CTA-light-red: hsl(353, 100%, 62%);
  /* Background gradient - body: */
  --bg-color-gradient-body-very-dark-gray-blue: hsl(237, 17%, 21%);
  --bg-color-gradient-body-very-dark-desaturated-blue: hsl(237, 23%, 32%);

  /* ### Primary */

  --light-red-CTA-text-hue: 356;
  --light-red-CTA-text-sat: 100%;
  --light-red-CTA-text-light: 66%;
  --light-red-CTA-text-hsl: var(--light-red-CTA-text-hue)
    var(--light-red-CTA-text-sat) var(--light-red-CTA-text-light);

  --very-light-red-CTA-background-hue: 355;
  --very-light-red-CTA-background-sat: 100%;
  --very-light-red-CTA-background-light: 74%;
  --very-light-red-CTA-background-hsl: var(--very-light-red-CTA-background-hue)
    var(--very-light-red-CTA-background-sat)
    var(--very-light-red-CTA-background-light);

  --very-dark-blue-headings-hue: 208;
  --very-dark-blue-headings-sat: 49%;
  --very-dark-blue-headings-light: 24%;
  --very-dark-blue-headings-hsl: var(--very-dark-blue-headings-hue)
    var(--very-dark-blue-headings-sat) var(--very-dark-blue-headings-light);

  /* ### Neutral */

  --white-text-hue: 0;
  --white-text-sat: 0%;
  --white-text-light: 100%;
  --white-text-hsl: var(--white-text-hue) var(--white-text-sat)
    var(--white-text-light);

  --grayish-blue-footer-text-hue: 240;
  --grayish-blue-footer-text-sat: 2%;
  --grayish-blue-footer-text-light: 79%;
  --grayish-blue-footer-text-hsl: var(--grayish-blue-footer-text-hue)
    var(--grayish-blue-footer-text-sat) var(--grayish-blue-footer-text-light);

  --very-dark-grayish-blue-body-copy-hue: 207;
  --very-dark-grayish-blue-body-copy-sat: 13%;
  --very-dark-grayish-blue-body-copy-light: 34%;
  --very-dark-grayish-blue-body-copy-hsl: var(
      --very-dark-grayish-blue-body-copy-hue
    )
    var(--very-dark-grayish-blue-body-copy-sat)
    var(--very-dark-grayish-blue-body-copy-light);

  --very-dark-black-blue-footer-background-hue: 240;
  --very-dark-black-blue-footer-background-sat: 10%;
  --very-dark-black-blue-footer-background-light: 16%;
  --very-dark-black-blue-footer-background-hsl: var(
      --very-dark-black-blue-footer-background-hue
    )
    var(--very-dark-black-blue-footer-background-sat)
    var(--very-dark-black-blue-footer-background-light);

  /* ### Gradient */

  /* Background gradient - Intro/CTA mobile nav: */

  --bg-gradient-CTA-very-light-red-hue: 13;
  --bg-gradient-CTA-very-light-red-sat: 100%;
  --bg-gradient-CTA-very-light-red-light: 72%;
  --bg-gradient-CTA-very-light-red-hsl: var(
      --bg-gradient-CTA-very-light-red-hue
    )
    var(--bg-gradient-CTA-very-light-red-sat)
    var(--bg-gradient-CTA-very-light-red-light);

  --bg-gradient-CTA-light-red-hue: 353;
  --bg-gradient-CTA-light-red-sat: 100%;
  --bg-gradient-CTA-light-red-light: 62%;
  --bg-gradient-CTA-light-red-hsl: var(--bg-gradient-CTA-light-red-hue)
    var(--bg-gradient-CTA-light-red-sat) var(--bg-gradient-CTA-light-red-light);

  /* Background gradient - body: */

  --bg-gradient-body-very-dark-gray-blue-hue: 237;
  --bg-gradient-body-very-dark-gray-blue-sat: 17%;
  --bg-gradient-body-very-dark-gray-blue-light: 21%;
  --bg-gradient-body-very-dark-gray-blue-hsl: var(
      --bg-gradient-body-very-dark-gray-blue-hue
    )
    var(--bg-gradient-body-very-dark-gray-blue-sat)
    var(--bg-gradient-body-very-dark-gray-blue-light);

  --bg-gradient-body-very-dark-desaturated-blue-hue: 237;
  --bg-gradient-body-very-dark-desaturated-blue-sat: 23%;
  --bg-gradient-body-very-dark-desaturated-blue-light: 32%;
  --bg-gradient-body-very-dark-desaturated-blue-hsl: var(
      --bg-gradient-body-very-dark-desaturated-blue-hue
    )
    var(--bg-gradient-body-very-dark-desaturated-blue-sat)
    var(--bg-gradient-body-very-dark-desaturated-blue-light);

  --fontWeight-slimmer: 300;
  --fontWeight-slim: 400;
  --fontWeight-normal: 500;
  --fontWeight-bold: 600;
  --fontWeight-bolder: 700;

  --fontWeight-Overpass-slim: 300;
  --fontWeight-Overpass-bold: 600;

  --fontWeight-Ubuntu-slim: 400;
  --fontWeight-Ubuntu-normal: 500;
  --fontWeight-Ubuntu-bold: 700;

  font-size: 16px;
  --ff-Overpass: "Overpass", sans-serif;
  --ff-Ubuntu: "Ubuntu", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  /* border-left: 1rem solid black; */
  /* border-right: 1rem solid black; */
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
  padding: 0 0.1rem;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* //////////////Header////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

header {
  font-family: var(--ff-Overpass);
  height: auto;
  width: 100%;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  border-radius: 0 0 0 75px;
  position: relative;
  background: url("./images/bg-pattern-intro.svg");
  background-size: 190%;
  background-position: 11.35% 49%;
  background-repeat: no-repeat;
}

header::before {
  border-radius: 0 0 0 75px;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
    to right,
    hsl(var(--bg-gradient-CTA-very-light-red-hsl) / 1),
    hsl(var(--bg-gradient-CTA-light-red-hsl) / 1)
  );
  z-index: -1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 5rem;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  height: auto;
  max-width: 150px;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.menu-bars {
  display: none;
}

.drop-down-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  margin-left: 3rem;
  color: hsl(var(--white-text-hsl) / 0.75);
  font-family: var(--ff-Ubuntu);
  font-weight: var(--fontWeight-Ubuntu-bold);
}

.drop-down-menu li {
  display: flex;
  cursor: pointer;
}

.drop-down-menu i {
  /* margin-left: 0.5rem; */
  position: absolute;
  right: -1rem;
  top: 0;
  bottom: 0;
  transition: all 250ms ease-in-out;
}

.drop-down-menu li + li {
  margin-left: 2rem;
}

.menu-button {
  transform: rotate(180deg);
  position: absolute;
  top: 50% !important;
  bottom: 50% !important;
}

.product,
.company,
.connect {
  height: 60%;
  position: relative;
}

.product-menu,
.company-menu,
.connect-menu {
  display: none;
  align-items: center;
  text-align: start;
  justify-content: center;
  list-style-type: none;
  position: absolute;
  background-color: var(--color-white-text);
  color: black;
  top: 2rem;
  left: -1rem;
  padding: 1rem;
  border-radius: 6px;
}

.show {
  display: flex;
}

.product-menu ol li,
.company-menu ol li,
.connect-menu ol li {
  margin: 0.5rem 0;
  font-weight: var(--fontWeight-Ubuntu-slim);
  transition: all 250 ease;
}

.product-menu ol li:hover,
.company-menu ol li:hover,
.connect-menu ol li:hover {
  font-weight: var(--fontWeight-Ubuntu-bold);
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.nav-buttons button + button {
  margin-left: 1rem;
}

.button {
  background-color: var(--color-white-text);
  border: none;
  color: var(--color-light-red-CTA-text);
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--ff-Ubuntu);
  font-weight: var(--fontWeight-Ubuntu-bold);
  padding: 0.75rem 1.75rem;
  border-radius: 50px;
  transition: all 250ms ease-in-out;
  width: fit-content;
  transition: all 250ms ease-in-out;
}

.button:hover {
  background-color: var(--color-very-light-red-CTA-background);
  color: var(--color-white-text);
}

.button-primary {
  background: transparent;
  color: hsl(var(--white-text-hsl) / 0.5);
}

.learn-button {
  border: 2px solid hsl(var(--white-text-hsl) / 0.5);
}

.button-primary:hover {
  background-color: var(--color-white-text);
  color: var(--color-very-light-red-CTA-background);
}

.header-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  font-size: 2.5rem;
  color: var(--color-white-text);
  margin: 1rem 0;
  font-weight: var(--fontWeight-Overpass-bold);
}

.header-p {
  color: hsl(var(--white-text-hsl) / 0.75);
  margin: 1rem 0;
  font-weight: var(--fontWeight-Overpass-slim);
}

.header-buttons {
  display: flex;
  margin: 1rem 0;
  margin-bottom: 5rem;
}

.header-buttons button + button {
  margin-left: 1rem;
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////Introduction////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

.introduction {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  position: relative;
  overflow: hidden;
  font-family: var(--ff-Overpass);
}

.intro-title {
  align-self: center;
  margin-top: 10rem;
  color: var(--color-very-dark-blue-headings);
  font-weight: var(--fontWeight-Overpass-bold);
  font-size: 2rem;
}

.intro-text {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  /* width: 75%; */
  /* margin: 0 auto; */
  justify-content: center;
  max-width: 50%;
  padding-left: 10%;
}

.intro-text h2,
.intro-text p,
.about-info h2,
.about-info p {
  max-width: 50ch;
}

.intro-text h2,
.about-info h2 {
  color: var(--color-very-dark-blue-headings);
  font-weight: var(--fontWeight-Overpass-bold);
  font-size: 1.5rem;
}

.intro-text p,
.about-info p {
  color: var(--color-very-dark-grayish-blue-body-copy);
  font-weight: var(--fontWeight-Overpass-slim);
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.intro-img {
  position: absolute;
  float: right;
  top: 5rem;
  right: -19.44rem;
  z-index: -1;
}

.intro-img img {
  height: 90%;
  width: 90%;
  object-fit: cover;
}

.intro-img-mobile,
.about-img-mobile {
  display: none;
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////Infrastructure/////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

.infrastructure {
  display: flex;
  min-height: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infra-banner {
  position: relative;
  display: flex;
  height: 45vh;
  width: 100%;
  border-radius: 0 100px 0 100px;
  background: url("./images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: bottom -9rem left -9rem;
}

.infra-banner::before {
  border-radius: 0 100px 0 100px;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(
    to right,
    hsl(var(--bg-gradient-body-very-dark-gray-blue-hsl) / 1),
    hsl(var(--bg-gradient-body-very-dark-desaturated-blue-hsl) / 1)
  );
  z-index: -1;
}

.infra-img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}

.infra-info {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--color-grayish-blue-footer-text);
  font-family: var(--ff-Overpass);
}

.infra-info h1 {
  margin-bottom: 2rem;
  font-size: 2.45rem;
  font-weight: var(--fontWeight-Overpass-bold);
  color: var(--color-white-text);
}

.infra-info p {
  max-width: 60ch;
  letter-spacing: 1.5px;
  font-weight: var(--fontWeight-Overpass-slim);
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

.about {
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  overflow: hidden;
  font-family: var(--ff-Overpass);
}

.about-img {
  position: absolute;
  float: left;
  left: -16.9rem;
  z-index: -1;
}

.about-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.about-info {
  width: 50%;
}

.about-info h2 {
  font-size: 2rem;
  font-weight: var(--fontWeight-Overpass-bold);
}

.about-info p {
  font-size: 1rem;
  font-weight: var(--fontWeight-Overpass-slim);
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* ////////////Footer//////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

footer {
  font-family: var(--ff-Ubuntu);
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  position: relative;
  background-image: linear-gradient(
    var(--color-very-dark-black-blue-footer-background),
    var(--bg-color-gradient-body-very-dark-gray-blue)
  );
  color: var(--color-grayish-blue-footer-text);
  border-radius: 0 100px 0 0;
}

.footer {
  display: flex;
  align-items: flex-start;
  padding-top: 5rem;
  height: 100%;
  width: 80%;
  justify-content: space-around;
}

.footer-image {
  height: 60%;
}

.footer h3 {
  margin-bottom: 2rem;
  font-weight: var(--fontWeight-Ubuntu-normal);
}

.footer li {
  list-style-type: none;
  margin-bottom: 1rem;
  cursor: pointer;
  font-weight: var(--fontWeight-Ubuntu-slim);
  transition: all 250 ease-in-out;
}

.footer li:hover {
  text-decoration: underline;
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////Media Queries//////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1175px) {
  body {
    width: 100vw;
    overflow: hidden;
  }

  header {
    padding: 5rem 2.5rem;
  }

  .drop-down-menu,
  .nav-buttons {
    display: none;
  }

  .navbar {
    padding: 0;
  }

  .menu-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu-bars {
    display: inherit;
  }
  .menu-bars i {
    font-size: 2rem;
    color: var(--color-white-text);
  }

  .header-bottom {
    text-align: center;
  }
  .header-title {
    margin-top: 10rem;
    margin-bottom: 0;
    font-size: 2rem;
  }
  .button {
    padding: 0.75rem 1rem;
  }

  .button-primary {
    color: var(--color-white-text);
  }

  /* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
  /* ///////Introduction////////////////////////////////////////////////////////////////////////////////////// */
  /* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

  .introduction {
    margin-bottom: 10rem;
  }

  .intro-title {
    margin: 5rem 0 2.5rem 0;
  }

  .intro-img {
    display: none;
  }

  .intro-img-mobile,
  .about-img-mobile {
    height: 100%;
    width: 100%;
    display: flex;
  }

  .intro-img-mobile img,
  .about-img-mobile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .intro-section {
    display: flex;
    flex-direction: column-reverse;
  }

  .intro-text {
    align-items: center;
    max-width: 100%;
    text-align: center;
    padding: 1rem;
  }

  .intro-text h2,
  .about-info h2 {
    max-width: 15ch;
  }

  .intro-text p,
  .about-info p {
    line-height: 175%;
    max-width: 30ch;
    margin-top: 1rem;
  }

  /* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
  /* ///////Infrastructure//////////////////////////////////////////////////////////////////////////////////// */
  /* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

  .infra-banner {
    flex-direction: column;
    height: 100%;
    background-position: 50% -350%;
    background-size: 160%;
    align-items: center;
    text-align: center;
  }

  .infra-img {
    width: 100%;
    margin-top: -10rem;
  }

  .infra-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .infra-info {
    width: 100%;
    max-width: 30ch;
    margin-bottom: 8rem;
    padding-top: 1.75rem;
  }

  /* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
  /* ///////About///////////////////////////////////////////////////////////////////////////////////////////// */
  /* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

  .about {
    flex-direction: column;
  }
  .about-img {
    display: none;
  }

  .about-img-mobile {
    display: flex;
  }
  .about-info {
    width: 100%;
    max-width: 30ch;
    text-align: center;
  }



  /* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
  /* ///////Footer//////////////////////////////////////////////////////////////////////////////////////////// */
  /* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */


  .footer {
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 4rem;
  }

  .footer-image {
    margin-bottom: 1rem;
  }

  .footer h3 {
    margin-top: 3rem;
  }
}
